.all__notes__page__container {
	display: flex;
	width: 100%;
	max-height: 100vh;
	overflow: auto;
	flex-direction: column;

	@media (width <= 1024px) {
		max-height: calc(100vh - 53px);
	}

	&::-webkit-scrollbar {
		width: 3px;
	}

	&::-webkit-scrollbar-thumb {
		background-color: #aaf;
		border-radius: 1rem;
	}
}

.all__notes__page__right {
	width: 100%;
	display: flex;
	flex-direction: column;
	overflow: auto;
}

.all__notes__page__bottom {
	@media (width <= 1024px) {
		height: calc(100vh - 53px);
	}
}
