.edit__button__container {
    display: flex;
    align-items: center;
    gap: .5rem;
    color: white;
    padding: var(--button-padding);
    border-radius: .75rem 0 0 .75rem;
    background-color: #44f;
    border-right: 1px #fff2 solid;
    transition: all .2s ease-in-out;
    cursor: pointer;

    &:hover {
        background-color: #66f;
    }
}
