.edit__button__container {
    display: flex;
    align-items: center;
    gap: .5rem;
    color: white;
    height: fit-content;
    padding: var(--button-padding);
    border-radius: .5rem;
    background-color: #44f;
    transition: all .2s ease-in-out;
    cursor: pointer;

    &:hover {
        background-color: #66f;
    }
}
