.group__item__container {
	display: flex;
	flex-direction: column;
	padding: .3rem;
	width: 100%;
	border-radius: .25rem;

	&:hover, .active {
		background-color: #fff6;
	}
}

.group__item__group {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: .5rem;
}

.group__item__title {
	font-weight: 400;
}

.group__item__amount {
	font-size: .7rem;
}
