.login__page__container {
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6rem;
    min-height: 100vh;
    gap: 1rem;
    border: 1px #ddf solid;
}

.login__page__left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    & hr {
        width: 100%;
    }

    & button {
        display: flex;
        gap: 1rem;
        width: 100%;
    }
}

.login__page__form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
    padding-top: 1rem;
}

.login__page__form__label {
    line-height: 0;
}

.login__page__form__input {
    width: 100%;


    & .p-inputtext {
        width: 100%;
    }
}
