.dark-editor-custom {
    --font-mono: "JetBrainsMono Nerd Font";
    --baseBg: rgb(25, 25, 50);
    --basePageBg: rgb(50, 50, 75);
    font-family: inherit;

    & button {
        font-family: inherit;
    }

    --accentBg: rgb(0, 0, 255);

    height: 80svh;
    border: 1px #fff6 solid;
    border-radius: .5rem;
    overflow-x: auto;
}

.mdxeditor-source-editor {
    background-color: #112;
}
