.mobile__header__container {
    display: none;
    padding: .5rem;

    @media (width < 1024px) {
        display: block;
    }
}

.mobile__header__button {
    width: fit-content;
}

.drawer__container {
    padding: .5rem 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
