.new__note__page__container {
	padding: 2rem;
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.new__note__page__section {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	border: 1px #fff4 solid;
	outline: none;
	border-radius: 0.5rem;
	padding: 1rem;
	width: 100%;
}

.new__note__page__field {
	border: none;
	outline: none;
	padding: 0.5rem 0;

	&:not(:last-child) {
		border-bottom: 1px #fff4 solid;
	}
}

.new__note__page__title {
	font-size: 1.5rem;
	font-weight: 700;
	font-family: inherit;
	background: none;
	border: none;
	outline: none;
	border-bottom: 1px #0004 solid;
	padding-bottom: 0.5rem;
	width: 100%;
	color: #111;

	&::placeholder {
		color: #888;
	}

	@media (prefers-color-scheme: dark) {
		color: #eee;
		border-bottom: 1px #fff4 solid;
	}
}
