.note__header__container {
	display: flex;
	flex-direction: column;
	gap: .5rem;
	width: 100%;
	padding: 1.5rem;
	border-bottom: 1px #fff6 solid;
}

.note__header__upper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.note__header__upper__right {
	display: flex;
	align-items: center;

	& button {
		height: 2rem;
	}
}

.note__header__title {
	font-size: 2rem;
	font-weight: 800;
}

.note__header__date {
	font-size: .85rem;
}
