.note__list__container {
	padding: .25rem 0 .25rem 1rem;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	font-size: .85rem;
	width: 30%;
	border-right: 1px #fff6 solid;
}

.note__item__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: .25rem 0 .25rem .25rem;
	border-radius: .5rem;
	width: 100%;
	
	&:hover {
	    background-color: #fff6;
	}
}

.note__item__selected {
	background-color: #44f;
	color: #111;
	border-radius: .5rem;
	font-weight: 700;
}
