.note__list__container {
	padding: 1rem;
	display: flex;
	flex-direction: column;
	gap: 0.2rem;
	font-size: 0.9rem;
	height: 100vh;
	width: 100%;
}

.note__item__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.15rem 0.15rem 0.15rem 0.25rem;
	border-radius: 0.5rem;
	width: 100%;

	&:hover {
		background-color: var(--focus-bg);
	}
}

.note__item__link {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
