/* Remove font family from components */
.p-component,
.p-inputtext {
	font-family: inherit;
}

/* CONTEXT MENU */
.p-contextmenu {
	width: auto;
	font-size: .9rem;
}

.p-contextmenu-root-list {
	display: flex;
	flex-direction: column;
}

/* DIALOG */
.p-dialog {
	border: 1px #fff6 solid;
	font-family: inherit;
	min-width: 30%;
}

.p-dialog>* {
	padding: .5rem 1rem;
}

.p-dialog-content {
	display: flex;
	align-items: center;
	gap: 1rem;
}

.p-dialog-content-input {
	display: flex;
	flex-direction: column;
	width: 100%;
	gap: 1rem;
}

.p-dialog-footer {
	display: flex;
	justify-content: flex-end;
	gap: 1rem;

	& button {
		padding: .5rem 1rem;
	}
}

/* TOOLTIP */
.p-tooltip {
	font-family: inherit;
	margin-top: 1rem;
	animation: fade .4s ease-in-out alternate;
	background-color: var(--tooltip-bg);
	color: var(--tooltip-fg);
	border-radius: .75rem;
}

.p-tooltip-text {
	padding: .5rem 1rem;
	font-size: .8rem;
	font-weight: bold;
}


/* BUTTON GROUP */
.p-button-group {
	font-family: inherit;

	& .p-button:is(:first-of-type) {
		border-radius: .5rem 0 0 .5rem;
	}

	& .p-button:is(:last-of-type) {
		border-radius: 0 .5rem .5rem 0;
	}

	& .p-button {
		border-radius: 0;
	}
}

/* DROPDDOWN */
.p-dropdown {
	margin: .5rem 0;
	width: 100%;
}

.p-dropdown-item>* {
	font-family: inherit !important;
	padding: .5rem;
}

.p-dropdown-items-wrapper {
	padding: .25rem;
}

/* Input */
.p-inputtext {
	padding: .4rem;
}

/* MENU */
.p-menuitem-link {
	padding: .5rem;
	gap: .5rem;
}

/* SIDEBAR */
.p-sidebar {
	background-color: #112;
}

.p-sidebar-mask {
	backdrop-filter: blur(5px);
	transition: all .2s ease-in-out;
}

/* ANIMATIONS */
@keyframes fade {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}
