/* Remove font family from components */
.p-component,
.p-inputtext {
	font-family: inherit;
	border-radius: 0.6rem;
}

:is(.p-c, .p-component, .p-button):focus {
	border: 2px light-dark(#111, #fff) solid;
}

.p-focus {
	background-color: var(--focus-bg);
}

.p-inputgroup-addon {
	color: var(--foreground);
	background-color: rgb(var(--background-inputgroup-rgb));
	border-width: 1px;
}

.p-inputtext,
.p-password {
	color: var(--foreground);
	background-color: rgb(var(--background-input-rgb));
	border-width: 1px;

	&::placeholder {
		color: rgba(var(--foreground-rgb), 0.5);
	}
}

/* CONTEXT MENU */
.p-contextmenu {
	width: auto;
	font-size: 0.9rem;
}

.p-contextmenu-root-list {
	display: flex;
	flex-direction: column;
}

/* DIALOG */
.p-dialog {
	border: 1px #fff6 solid;
	font-family: inherit;
	min-width: 30%;
}

.p-dialog-header-icon {
	color: var(--foreground);
}

.p-dialog > * {
	padding: 0.5rem 1rem;
	color: var(--foreground);
	background-color: rgb(var(--background-start-rgb));
}

.p-dialog-content {
	display: flex;
	align-items: center;
	gap: 1rem;
}

.p-dialog-content-input {
	display: flex;
	flex-direction: column;
	width: 100%;
	gap: 1rem;
}

.p-dialog-footer {
	display: flex;
	justify-content: flex-end;
	gap: 1rem;

	& button {
		padding: 0.5rem 1rem;
		color: var(--foreground);
		width: 8rem;
	}
}

.p-dialog-mask {
	backdrop-filter: blur(4px);
}

.p-confirm-dialog-message {
	line-height: 1.5rem;
}

/* TOOLTIP */
.p-tooltip {
	font-family: inherit;
	margin-top: 1rem;
	animation: fade 0.4s ease-in-out alternate;
	background-color: var(--tooltip-bg);
	color: var(--tooltip-fg);
	border-radius: 0.75rem;
}

.p-tooltip-text {
	padding: 0.5rem 1rem;
	font-size: 0.8rem;
	font-weight: bold;
}

/* DROPDDOWN */
.p-dropdown {
	margin: 0.5rem 0;
	width: 100%;
	color: var(--foreground);
	background-color: rgb(var(--background-input-rgb));
	border-width: 1px;
}

.p-dropdown-item > * {
	font-family: inherit !important;
	padding: 0.5rem;
	color: var(--foreground);
}

.p-dropdown-items-wrapper {
	padding: 0.25rem;
	background-color: rgb(var(--background-start-rgb));
}

.p-dropdown-trigger {
	color: var(--foreground);
}

/* Input */
.p-inputtext {
	padding: 0.4rem;

	&::placeholder {
		color: rgba(var(--foreground-rgb), 0.5);
	}
}

.p-input-icon {
	color: var(--foreground);
}

.p-password-input {
	width: 100%;
}

.p-icon-field.p-icon-field-right {
	width: inherit;
}

/* MENU */
.p-menuitem-link {
	padding: 0.5rem;
	gap: 0.5rem;
}

/* SIDEBAR */
.p-sidebar {
	background-color: rgb(var(--background-start-rgb));
	color: var(--foreground);
	border: none;
}

.p-sidebar-close {
	color: var(--foreground);
}

.p-sidebar-mask {
	backdrop-filter: blur(5px);
	transition: all 0.2s ease-in-out;
}

/* BUTTON */
.p-button {
	padding: 0.5rem 1rem;
	color: var(--foreground);
}

/* BUTTON GROUP */
.p-button-group {
	font-family: inherit;

	& .p-button:is(:first-of-type) {
		border-radius: 0.5rem 0 0 0.5rem;
	}

	& .p-button:is(:last-of-type) {
		border-radius: 0 0.5rem 0.5rem 0;
	}

	& .p-button {
		border-radius: 0;
		color: var(--foreground);
	}
}

/* SELECT BUTTON */
.p-selectbutton {
	color: var(--foreground);

	& .p-button {
		border: none;
		background-color: rgba(var(--background-input-rgb), 0.5);

		&.p-highlight {
			background-color: var(--focus-bg);
			box-shadow: 0 0.1rem 0.4rem rgb(var(--background-input-rgb));
		}

		&.p-highlight > * {
			font-weight: bold;
		}
	}
}

.p-float-label {
	color: var(--foreground);
}

.p-icon-field > .p-input-icon {
	top: 28%;
}

.pi-edit-icon {
	&::before {
		content: url("../../public/EditIcon.svg");

		@media (prefers-color-scheme: dark) {
			filter: invert(1);
		}
	}
}

.pi-remove-icon {
	&::before {
		content: url("../../public/RemoveIcon.svg");

		@media (prefers-color-scheme: dark) {
			filter: invert(1);
		}
	}
}

/* ANIMATIONS */
@keyframes fade {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}
