.save__button__container {
	padding: 0.5rem 1rem;
	color: #eee;
	display: flex;
	gap: 1rem;
	border-radius: 0.5rem;
	width: 8rem;
	border: none;
	outline: none;
	background: #44a;
	font-family: inherit;
	font-size: 85%;
	cursor: pointer;
	transition: all 0.2s ease-in-out;

	& > span {
		margin: 0 auto;
	}

	&:hover {
		background: #66a;
	}
}

.save__button__title {
	font-size: 0.85rem;
}
