.sidebar__item__container {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: .25rem;
    
    &:hover,
    .active {
        background-color: var(--focus-bg);
    }
}

.sidebar__item__group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: .5rem;
}

.sidebar__item__group__collapsed {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

.sidebar__item__left {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.sidebar__item__icon {
    @media (prefers-color-scheme: dark) {
        filter: invert(1)
    }
}

.sidebar__item__title {
    font-weight: 700;
}

.sidebar__item__amount {
    font-size: .7rem;
    padding: 0 .25rem;
}
