.w-md-editor {
	--md-editor-font-family: monospace !important;
}

.w-md-editor-text-pre,
.w-md-editor-text-input,
.w-md-editor-text>.w-md-editor-text-pre {
	font-family: monospace !important;
}

.w-md-editor-toolbar {
	padding: .5rem !important;
	display: flex;
	gap: .5rem !important;

	.md-editor-toolbar-divider {
		height: auto;
	}

	& button {
		height: fit-content !important;
	}

	& button>svg {
		width: 18px;
		height: 18px;
	}
}

.wmde-markdown {
	font-family: inherit !important;

	--color-fg-default: #111 !important;

	@media (prefers-color-scheme: dark) {
		--color-fg-default: #eee !important;
	}
}
